.t
{
    width: 100%;
   
    margin-top: 80px;
 
    padding: 25px;
    padding-bottom: 70px;
    background-image: url("1723796460872.jpg");
}
.p
{
    background-color: white;
    margin: 20px 20px 20px 20px ;
    border: 1px solid silver;
    overflow: hidden;
}
.q
{
    border-bottom: 1px solid silver;
 
    padding-left: 20px;
    padding-top: 18px;
    padding-bottom: 22px;
    height: 60px;
    overflow: hidden;
}
.r
{
display: grid;

grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
padding: 20px;  
padding-top: 30px;
padding-bottom: 30px;

}
.bo
{
    border-left: 1px solid rgb(228, 225, 225);
    border-bottom: 1px solid rgb(228, 225, 225);
  text-align: center;
 padding: 20px;
 padding-left:  50px;
 padding-right: 50px;
 height: 100px;

}
.c1,.c2,.c3,.c4,.c5,.c6
{
    border-top: 1px solid rgb(228, 225, 225);
}
.c6,.c12
{
    border-right: 1px solid rgb(228, 225, 225);
}
.qspan
{
    margin-left: 25px;

}
.q span
{
    font-size: 18px;
}
@media screen and (max-width:880px) {
    .r
{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(200px,3fr));
}
}

@media screen and (max-width:880px) {
    .r
{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(150px,2fr));
}
}
@media screen and (max-width:430px) {
    .r
{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(150px,2fr));
}
.t{
    padding-left: 0;
    padding-right: 0;
}
.bo
{
    padding-left: 12px;
    padding-right: 12px;
}
}

@media screen and (max-width:380px)
 {
    .q span
    {
        font-size: 13px;
    }
}

@media screen and (max-width:360px) {
    .r
{
display: grid;
grid-template-columns: repeat(auto-fit,minmax(100px,2fr));
}
.t{
    padding-left: 0;
    padding-right: 0;
}
.bo
{
    padding-left: 12px;
    padding-right: 12px;
}
.r
{
    padding: 15px;
}
}